[project]
	description = "Apache Isis? software is a framework for rapidly developing domain-driven apps in Java.  Write your business logic in entities, domain services and repositories, and the framework dynamically generates a representation of that domain model as a webapp or a RESTful API. Use for prototyping or production."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Haitz (l0rdn1kk0n)
[access "refs/for/refs/*"]
	read = group user/Michael Haitz (l0rdn1kk0n)
	push = group user/Michael Haitz (l0rdn1kk0n)
	label-Code-Review = -2..+2 group user/Michael Haitz (l0rdn1kk0n)
	label-Verified = -1..+1 group user/Michael Haitz (l0rdn1kk0n)
	rebase = group user/Michael Haitz (l0rdn1kk0n)
	removeReviewer = group user/Michael Haitz (l0rdn1kk0n)
	submit = group user/Michael Haitz (l0rdn1kk0n)
[access "refs/heads/*"]
	read = group user/Michael Haitz (l0rdn1kk0n)
	create = group user/Michael Haitz (l0rdn1kk0n)
	push = +force group user/Michael Haitz (l0rdn1kk0n)
	pushMerge = group user/Michael Haitz (l0rdn1kk0n)
[access "refs/tags/*"]
	push = +force group user/Michael Haitz (l0rdn1kk0n)
	pushTag = group user/Michael Haitz (l0rdn1kk0n)
	pushSignedTag = group user/Michael Haitz (l0rdn1kk0n)
